:root{
  --main-text-color: #dbe4e9;
  --main-text-hover-color: #FFFFFF;
}
* {
  box-sizing: border-box;
}

body {
   font-family: 'Courier New', monospace;
   background-color: #000000;
   line-height: 1.6;
   margin: 0;
   padding: 0;
   height: 100%;
}

h1{
   font-weight: 300;
   text-align: center;
   color: var(--main-text-color);
}

.main-page-blog{
   margin: auto;
}

.blog {
   max-width: 800px;
}

.blog-card {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #181c1f;
    text-align: center;
    border-radius: 10px;
}

.blog-card:hover{
    background-color: #1F262B;
}

.blog-card a, .blog-card p, form p, .blog p {
    text-decoration: none;
    color: var(--main-text-color);
}

header {
  background-color: #181c1f;
  margin-bottom: 30px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}


.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-links {
  display: flex;
  align-items: center;

}

.link {
  margin: 5px;
}

a img {
  width: 35px;
   object-fit: contain;
}

form{
    background-color: #181c1f;
    padding: 30px;
    border-radius: 30px;
    margin: auto;
    width: 700px;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
textarea {
  resize: vertical;
}

input:hover,
textarea:hover {
    border: 2px solid #A7A4A4;
    background-color: #DDDCDC;
}

.form-btn{
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-btn:hover{
    background-color: #1982D5;
}

.login-btn {
  display: inline-block;
  padding: 10px 24px;
  background-color: #ff7f50; /* насыщенный красно-оранжевый */
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 999px; /* делает кнопку овальной */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background-color: #e64528; /* чуть темнее при наведении */
  transform: scale(1.05); /* лёгкое увеличение */
}

.login-btn:active {
  background-color: #cc3d23; /* ещё темнее при нажатии */
  transform: scale(0.98);
}


.profile-menu-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 10px;
  min-width: 180px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border-radius: 8px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown a {
  display: block;
  color: var(--main-text-color);
  padding: 8px;
  text-decoration: none;
}

.dropdown a:hover, .profile-about-links a:hover, .dropdownMenu-text:hover {
  color: var(--main-text-hover-color);
}

.menu-btn img{
   width: 25px;
   object-fit: contain;

}
.menu-btn{
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #181c1f;
   border: none;
   cursor: pointer;
   border-radius: 20px;

   align-items: center;
   color: var(--main-text-color);
   font-family: 'Courier New', monospace;
   font-size: inherit;
   line-height: inherit;
}

.menu-btn:hover{
   background-color: #2F3940;
}

.dropdownMenu-btn{
    border: none;
    cursor: pointer;
    background-color: #1a1a1a;
    color: var(--main-text-color);
    font-family: 'Courier New', monospace;
    font-size: inherit;
    line-height: inherit;
}

.dropdownMenu-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
}
.dropdown a,
button.dropdown button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main-text-color);
  background: none;
  border: none;
}

.dropdown form {
  margin: 0;
  padding: 0;

}

.profile-wrapper{
   display: flex;
   justify-content: center;
   height: 100vh;
}

.profile-main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-about-links a{
  color: var(--main-text-color);
  text-decoration: none;
  padding-right: 25px;

}

hr {
  border: none;
  height: 0.5px;
  width: 100%;
  background-color: var(--main-text-color);
  margin: 20px 0;
}

.profile-no-content{
    text-align: center;
}