body {
   font-family: 'Courier New', monospace;
   background-color: #282c34;
   color: #eee;
   line-height: 1.6;
}


.blog {
   margin: auto;
   max-width: 800px;
}


h1 {
   font-size: 50px;
   font-weight: 300;
   color: #ff7f50;
   text-align: center;
}


.blog-card {
   padding: 20px;
   margin-bottom: 30px;
   background-color: #343a40;
   text-align: center;
}


a {
 text-decoration: none;
 color: #ff7f50;
}
